@(params: utils.BasicRequests.listingRequest, data: net.vz.mongodb.jackson.DBCursor[models.User.Model] )

@resultRow( row : models.User.Model ) = {
	<tr id="row_@row._id">
		<td><input type="checkbox" name="delete_cb[]" value="@row._id"/></td>
		<td><a href="@controllers.routes.Users.edit( row._id )">@row.username</a></td>
		<td>@row.createdAt</td>
		<td>@row.lastLoginAt</td>
		<td class="delete">
			<a href="@controllers.routes.TrackedSessions.index()?userId=@row._id" >Sessions (@models.User.getSessionsCount( row ))</a> |  
			<a href="#" class="delete" rel="@controllers.routes.Users.delete()" id="@row._id">Delete</a>
		</td>
	</tr>
	
}

@views.html.layout {

			<div class="block">
			
				<div class="block_head">
					<div class="bheadl"></div>
					<div class="bheadr"></div>
					
					<h2>Users</h2>
					
					<ul>
						<!--<li><a href="#">Edit pages</a></li>-->
						<li><a href="@controllers.routes.Users.create()"><span class="addItemBigPlus"></span>Add user</a></li>
					</ul>
				</div>		<!-- .block_head ends -->
				
				<div class="block_content">
				
					<form action="" method="post">
					
						<table cellpadding="0" cellspacing="0" width="100%" class="sortable">
						
							<thead>
								<tr>
									<th width="10"><input type="checkbox" class="check_all" /></th>
									<th>Username</th>
									<td>Created At</td>
									<td>Last Login At</td>
									<td>&nbsp;</td>
								</tr>
							</thead>
							
							<tbody>
								@for( ind <- 1 to data.size() ) {
									
									@resultRow(data.next())
								}
							</tbody>
						</table>
						
						@if( params.getTotalPages() > 1 ) {
							<div class="pagination right">
								@if( params.getCurrentPage() > 1 ) {<a href="@(controllers.routes.Users.index())?p=@(params.getCurrentPage()-1)">&laquo;</a>}
								@for( cnt <- 1 to params.getTotalPages() ) {
									<a href="@(controllers.routes.Users.index())?p=@cnt" class="@if( cnt == params.getCurrentPage() ){active}">@cnt</a>
								}
								@if( params.getCurrentPage() < params.getTotalPages() ) { <a href="@(controllers.routes.Users.index())?p=@(params.getCurrentPage()+1)">&raquo;</a> }
							</div>		<!-- .pagination ends -->
						}
					</form>
					
				</div>		<!-- .block_content ends -->
				
				<div class="bendl"></div>
				<div class="bendr"></div>
			</div>		<!-- .block ends -->
			
}