@(sess: models.TrackSession.Model, location: models.RecordedLocation.Model, firstAction: models.TrackedAction.Model, sessLocations: net.vz.mongodb.jackson.DBCursor[models.RecordedLocation.Model] )
<!DOCTYPE html>
@locationRow( row : models.RecordedLocation.Model ) = {
	<option value="@row._id" @if( row._id.equals( location._id ) ){selected="selected"}>@row.location</option>
}
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

	<meta http-equiv="X-UA-Compatible" content="IE=7" />

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<title>Preview Session</title>
	
    <style type="text/css" media="all">
		@@import url("/assets/stylesheets/admin/style.css");
		@@import url("/assets/stylesheets/jquery-ui-1.8.18.custom.css");
    </style>
	
	<!--[if lt IE 8]><style type="text/css" media="all">@@import url("/assets/stylesheets/admin/ie.css");</style><![endif]-->

	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")"></script>

</head>
<body>
	<p class="preview">
		<span style="font-weight: bold;">Url:</span> <a href="@location.location" target="_blank">@location.location</a>
		<span style="font-weight: bold;">Started At:</span> @location.startedAt 
		<span style="font-weight: bold;">Language:</span> <span>@models.TrackSession.getLanguage(sess)</span>  
		<span style="font-weight: bold;">Browser:</span> <span>@models.TrackSession.getBrowser(sess)</span>  
		<span style="font-weight: bold;">OS:</span> <span>@models.TrackSession.getOS(sess)</span>
		<br/>
		<a href="#" class="player_link play_pause play"></a>  
		<a href="#" class="player_link reload"></a>  
		<span style="font-weight: bold;">Duration:</span> @models.RecordedLocation.getDuration(location)  
		<span style="font-weight: bold;">Current Playback:</span> <span id="current_playback">0</span>
		<a href="" style="font-weight: bold;">Heatmap</a> <br/>
		<span style="font-weight: bold;">Locations:</span> <select id="locations">
															@for( ind <- 1 to sessLocations.size() ) {
																@locationRow(sessLocations.next())
															}
														   </select>
	</p>
	<iframe id="playback" style="border: 1px solid black; width: @(firstAction.w)px; height: @(firstAction.h)px; " src="@routes.Preview.proxy(location._id)" ></iframe>

	<script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>
	<script type="text/javascript">
		var viewLocationId = '@location._id';
	</script>
	<script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/preview.js")"></script>
</body>
</html>